<div class="card apt-vert-card" style="width: 18rem; margin-top: 50px; ">
    <img class="apt-vert-img" src="/images/sample2.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Apartment name</h5>
        <p class="card-text">Some content. </p>
    </div>
</div>