<!-- views/partials/header.ejs -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
        <a class="navbar-brand" href="/">
            <img class="logo" src="/images/logo-1.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Search bar start -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 shadow-sm search-bar" type="search" placeholder="Tìm kiếm"
                    aria-label="Search">
            </form>
            <!-- Search bar end -->

            <!-- Navigation start -->

            <ul class="navbar-nav ml-auto">
                <% if (typeof user == 'undefined') { %>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#signUpModal">Đăng ký</a>
                    <%- include('../partials/signUpModal'); -%>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#signInModal">Đăng nhập</a>
                    <%- include('../partials/signInModal'); -%>
                </li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=user.email %></a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                        <a class="dropdown-item" href="#">Tài khoản</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="logout()">Đăng xuất</a>
                        <div class="loader hidden" id="signUpLoader"></div>
                    </div>
                </li>
                <% } %>
            </ul>
            <!-- Navigation end -->
            <%- include('../partials/successModal'); -%>
        </div>
    </nav>
</header>