body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #484848;
}

.search-bar {
  display: block;
  width: 30vw !important;
  height: 45px;
  transition: width 500ms;
}

.search-bar:focus {
  width: 50vw !important;
}

.form-control:focus {
  border-color:	#B7B7B7;
  box-shadow: 0 0 0 0.2rem #FFF;
}

.nav-item::after {
  display:block;
  content: '';
  border-bottom: solid 3px #777777;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin:50% 50%;
}

a {
  color: #464646 !important;
}

.logo {
  height: 50px;
}

.modal-header {
  border: 0;
}

.modal-footer {
  border: 0;
}

.modal {
  border: 0 !important;
}

.btn {
  background-color: #128387;
  border: 0;
  font-size: 14px;
  padding: 15px;
}

.btn:hover {
  background-color: #128387;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #128387;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown-item:focus {
  background-color: #777777;
}