.search-bar {
  display: block;
  width: 30vw !important;
  height: 45px;
  transition: width 300ms;
  border-width: 0.5px !important;
  font-weight: 600;
  padding-left: 45px;
}

.search-bar:focus {
  width: 45vw !important;
}

.form-control {
  border-color: #EAEAEA;
}

.form-control:focus {
  border-color:	#B7B7B7;
  box-shadow: 0 0 0 0.2rem #FFF;
}

.nav-item {
  margin-right: 10px;
}

.nav-item::after {
  display:block;
  content: '';
  border-bottom: solid 3px #777777;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: 50% 50%;
}

.navbar-nav > li > a {
  line-height: 30px;
}

.edit-link {
  color: #008489 !important;
}

.logo {
  height: 50px;
}

.modal-header {
  border: 0;
}

.modal-footer {
  border: 0;
}

.modal {
  border: 0 !important;
}

.btn {
  background-color: #128387;
  border: 0;
  font-size: 14px;
  padding: 15px;
}

.btn:hover {
  background-color: #128387;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #128387;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.hidden {
  display: none !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown-menu {
  border-color: #EAEAEA;
  width: 250px;
  padding: 0;
}

.nav-link {
  font-weight: 500;
}

.input-icon {
  position: absolute;
  margin-left: 15px;
  font-size: 18px;
}

.list-group-item {
  border: none;
}

hr {
  height: 1px;
  align-self: center;
}



.hor-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}