<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body>
    <%- include('../partials/header'); -%>

    <div class="container" style="margin-top: 50px;">
        <h5>Có 3 kết quả tìm kiếm</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="card apt-hor-card">
                    <img class="apt-hor-img" src="/images/sample1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Apartment name</h5>
                        <p class="card-text">Some content.</p>
                    </div>
                </div>
            </li>
            <hr class="my-1">
            <li class="list-group-item">
                <div class="card apt-hor-card">
                    <img class="apt-hor-img" src="/images/sample1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Apartment name</h5>
                        <p class="card-text">Some content.</p>
                    </div>
                </div>
            </li>
            <hr class="my-1">
            <li class="list-group-item">
                <div class="card apt-hor-card">
                    <img class="apt-hor-img" src="/images/sample1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Apartment name</h5>
                        <p class="card-text">Some content.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
    <%- include('../partials/footer'); -%>
</body>

</html>